<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Please Login</h2>

<p th:if="${exception}" th:text="${exception}" style="color: red;"></p>

<p th:if="${loginAttempts}" th:text="'Login Attempts: ' + ${loginAttempts}"></p>

	<!-- task 1: form POST request would be sent to the /login endpoint + content-type is specified in enctype
	+ no need accept header because HTML handles that for you + added name parameters for form fields -->
    <form
      method="POST"
      data-th-action="@{/contact}"
      data-th-object="${user}"
      enctype="application/x-www-form-urlencoded">
	
      <table>
        <tr>
          <td>
            <label for="username">Username:</label>
          </td>
          <td>
            <input
              type="text"
              data-th-field="*{username}"
              id="username"
			  name="username"
              size="30"
              placeholder="Please type in your username"
            />
            <!-- to display errors -->
            <p th:errors="*{username}"></p>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password:</label>
          </td>
          <td>
            <input
              type="password"
              data-th-field="*{password}"
              id="password"
			  name="password"
              size="30"
              placeholder="Please type in your password"
            />
            <!-- to display errors -->
            <p th:errors="*{password}"></p>
          </td>
        </tr>
        <!-- to display if login attempts are more than 0 -->
        <tr th:if="${loginAttempts > 0}">
          <td>
            <label for="captcha">What is </label><span th:text="${captcha}" name="captcha"></span>?
          </td>
          <td>
            <input type="number" size="30" name="captchaanswer">
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <button>Login</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>